<div class='container'>
<h1><%= @list.name %></h1>

<% @list.bookmarks.each do |bookmark| %>
  <div class="card-product">
    <%= cl_image_tag bookmark.photo.key, height: 300, width: 400, crop: :fill %>
    <div class="card-product-infos">
      <h2><%= bookmark.movie.title %></h2>
      <p><%= bookmark.comment %></p>
      <p><%= link_to "🗑", bookmark_path(bookmark), method: :delete %></p>

    </div>
  </div>
<% end %>

<%= link_to 'New bookmark', new_list_bookmark_path(@list), class: "btn btn-flat" %> |
<%= link_to 'Back to Lists', lists_path %>
</div>
