<p>
  <strong>List name:</strong>
  <%= @list.name %> |

  <% @list.bookmarks.each do |bookmark| %>
  <li><%= bookmark.movie.title %></li>
  <p><%= bookmark.comment %></p>
  <p><%= link_to "X", bookmark_path(bookmark), method: :delete %></p>
  <%= cl_image_tag bookmark.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>

  <%= link_to 'New bookmark', new_list_bookmark_path(@list) %>
  <%= link_to 'Back to main menu', lists_path %>
</p>

